# Node.js
node_modules/
.next/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
tsconfig.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
local.db
*.sqlite3

# OS
.DS_Store

# Misc
*.zip
